<h1 class="m-5 fw-bold">Stupid Coaching</h1>
<p class="mt-5 mx-5">"<%=params[:question]%>"</p>
<p class="font-italic mb-5 mx-5">-You</p>
<p class="mt-5 mx-5">"<%=@answer%>"</p>
<p class="font-italic mb-5 mx-5">-Your Coach</p>
<a class="m-5 btn btn-primary" href="ask">Ask a new question</a>
