<div class="form-control m-5">
  <form action="answer" data-turbo="false">
    <input type="text" placeholder= "Ask you question already!!!!" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>
